<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %></title>
</head>
<body>
    Your username is: <%= name %><br>
    Your ID is: <%= id %><br>
    Your login attempt was: <%= verifier %> 
    <br><br><hr>
</body>
</html>